.navigation {
  display: flex;
  justify-content: space-between;
  margin: 30px;

  .nav-link-container {
    padding-top: 10px;
    .nav-link {
      font-size: 20px;
      margin: 0 10px;

      &:hover {
        color:#36A4AB;
      }
    }
  }
}
